#landing {
    width: 100%;

    #header-carousel {
        width: 100%;

        .carousel-inner {
            .item {
                img {
                    width: 100%;
                }
            }
        }
    }
}