<div id="home">
    <div class="wrapper">
        <div class="overview-header">Übersicht</div>
        <div class="overview">
            <div class="row">
                <div class="col-md-2">
                    <h3 ng-style="calorie_style">{{calorie_open}}</h3>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="progress"  ng-mouseover="increment()" data-toggle="tooltip" data-placement="top" title="calorie_now">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{calorie_percent}}%">
                                <span class="sr-only">Already {{calorie_percent }} % done !</span>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <div class="row">
                        <span>{{calorie_max}} - {{calorie_now }} = {{calorie_open}}</span>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <button class="btn btn-default">Mahlzeit hinzufügen</button>
            </div>
        </div>

        <div class="post-header">
            Training beendet
        </div>
        <div class="post">
            <img width="40" height="40" class="avatar" title="Peter Panski" src="https://d2d69lvc7tiwu6.cloudfront.net/assets/user/default_avatar_male.jpg" alt="Peter Panski">
        </div>

        <div class="post-header">
            Training beendet
        </div>
        <div class="post">
            <img width="40" height="40" class="avatar" title="Peter Panski" src="https://d2d69lvc7tiwu6.cloudfront.net/assets/user/default_avatar_male.jpg" alt="Peter Panski">
        </div>

        <div class="post-header">
            Training beendet
        </div>
        <div class="post">
            <img width="40" height="40" class="avatar" title="Peter Panski" src="https://d2d69lvc7tiwu6.cloudfront.net/assets/user/default_avatar_male.jpg" alt="Peter Panski">
        </div>

        <div class="post-header">
            Training beendet
        </div>
        <div class="post">
            <img width="40" height="40" class="avatar" title="Peter Panski" src="https://d2d69lvc7tiwu6.cloudfront.net/assets/user/default_avatar_male.jpg" alt="Peter Panski">
        </div>

        <div class="post-header">
            Training beendet
        </div>
        <div class="post">
            <img width="40" height="40" class="avatar" title="Peter Panski" src="https://d2d69lvc7tiwu6.cloudfront.net/assets/user/default_avatar_male.jpg" alt="Peter Panski">
        </div>

    </div>
</div>