// Text =========================================================================================================== //
$white: #fff;
$grey: #b5b5b5;
$dark-grey: #5c5c5c;
$black: #1b1b1b;

$primary: #008cba;
$success: #43ac6a;
$info:    #5bc0de;
$warning: #E99002;
$danger:  #F04124;

$bg: #e5e6c3;
$nav-active: #eee;
$green: #9bb70d;


