.wrapper{
    width: 100%;
    background-color: $white;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid $grey-border;

    .title {
        .date{
            font-size: 1.2em;
            font-weight: 800;
            color: $black;
            margin-right:15px;
        }

        .weekday{
            font-size: 0.9em;
            font-weight: 300;
            color: $black;
        }
    }

    .calorie{
        margin:45px 0;
        font-size: 1.3em;
        font-weight: 500;
    }

    .item {
        padding: 5px 0;
        border-top: 1px solid $grey-border;

        &:first-of-type {
            border-top: none;
        }

        [class*="col-"] {
            &:nth-child(1),
            &:nth-child(2) {
                padding: 3px 5px;
            }
        }
    }

    .food-add{
        width: 100%;
        margin: 15px 0;
        color:$white;
        background-color: $green;
    }

    .food-add:hover
    {
        background-color: $green-hover;
    }
}