.wrapper{
    width:100%;

    .overview{
        background-color: $white;
        min-height: 100px;
        margin-bottom: 10px;
        padding: 15px;
        border: 1px solid $grey-border;

        h3{
            color: #48d720;
            font-weight: 800;
            font-size: 2.8em;
            padding: 0;
            margin: 0;
        }

        hr{
            margin:10px 0;
        }

        .progress{
            padding: 0;
            margin: 0;
        }

        .row{
            margin: 0;
            padding:0;
        }



        button{
            @include border-radius(5px, 5px, 5px, 5px);
        }

        span{
            color: $grey;
        }

    }

    .overview-header{
        background-color:$green;
        min-height: 40px;
        padding:15px;
        color:$white;
        font-weight: 500;
    }



    .post-header{
        background-color:$grey;
        min-height: 20px;
        padding:10px 15px;
        color:$white;
        font-weight: 300;
    }

    .post{

        background-color: $white;
        min-height: 100px;
        margin-bottom: 10px;
        padding: 15px;
        border: 1px solid $grey-border;

        .avatar{
            margin:auto 0;
        }
    }

}

