.wrapper{
    width:100%;

    .home-box {
        .overview-header,
        .post-header,
        .recipe-header {
            background-color: $grey;
            min-height: 40px;
            padding: 15px;
            color: $white;
            font-weight: 500;
        }

        .overview,
        .post,
        .recipe {
            background-color: $white;
            min-height: 100px;
            margin-bottom: 10px;
            padding: 15px;
            border: 1px solid $grey-border;
        }


        // OVERVIEW ====================================================================================================

        .overview{
            h3{
                color: $success;
                font-weight: 800;
                font-size: 2.8em;
                padding: 0;
                margin: 0;
            }

            hr{
                margin:10px 0;
            }

            .progress{
                padding: 0;
                margin: 0;
            }

            .row{
                margin: 0;
                padding:0;
            }



            button{
                @include border-radius(5px, 5px, 5px, 5px);
            }

            span{
                color: $grey;
            }

        }

        .overview-header{
            background-color: $green;
        }



        // POSTS =======================================================================================================

        .post-header{
            font-weight: 300;
        }

        .post{

            .avatar{
                margin:auto 0;
            }
        }


        // RECIPES =====================================================================================================

        .recipe-header{
            background-color: $green;
            font-weight: 300;
        }

        .recipe{

            overflow: hidden;

            [class*="col-"] {
                img{
                    background-color:$white;
                    border:1px solid $grey-border;
                    padding:2px;
                    width: 100%;
                    overflow: hidden;
                }
            }
        }
    }
}

