&.navbar {
    background-color: $green;

    li{
        a {
            &:hover,
            &:focus {
                background-color: $green-hover;
            }

            &.dropdown-toggle.user {
                padding: 5px 15px;


                img {
                    height: 35px;
                    width: 35px;
                    margin-right: 5px;
                    @include border-radius(50%, 50%, 50%, 50%);
                }
            }
        }
    }
}

.brand
{
    color: $white;
    font-weight: 800;
    text-decoration: none;
}
