body {
  background-color: #e1e5e8; }

#topnav.navbar {
  background-color: #9bb70d; }
  #topnav.navbar li a:hover, #topnav.navbar li a:focus {
    background-color: #a3c10e; }
  #topnav.navbar li a.dropdown-toggle.user {
    padding: 5px 15px; }
    #topnav.navbar li a.dropdown-toggle.user img {
      height: 35px;
      width: 35px;
      margin-right: 5px;
      -webkit-border-radius: 50% 50% 50% 50%;
      -moz-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%; }
#topnav .brand {
  color: #fff;
  font-weight: 800;
  text-decoration: none; }

#sidebar .profile {
  background-color: #fff;
  width: 100%;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  padding: 15px; }
  #sidebar .profile .wrapper {
    min-height: 40px;
    padding-left: 50px;
    position: relative; }
    #sidebar .profile .wrapper .user {
      float: left;
      width: 100%; }
    #sidebar .profile .wrapper .edit {
      float: left;
      width: 100%;
      color: #b5b5b5;
      font-size: 12px; }
    #sidebar .profile .wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-border-radius: 50% 50% 50% 50%;
      -moz-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%; }

#home .wrapper {
  width: 100%; }
  #home .wrapper .home-box .overview-header,
  #home .wrapper .home-box .post-header,
  #home .wrapper .home-box .recipe-header {
    background-color: #b5b5b5;
    min-height: 40px;
    padding: 15px;
    color: #fff;
    font-weight: 500; }
  #home .wrapper .home-box .overview,
  #home .wrapper .home-box .post,
  #home .wrapper .home-box .recipe {
    background-color: #fff;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #dddddd; }
  #home .wrapper .home-box .overview h3 {
    color: #43ac6a;
    font-weight: 800;
    font-size: 2.8em;
    padding: 0;
    margin: 0; }
  #home .wrapper .home-box .overview hr {
    margin: 10px 0; }
  #home .wrapper .home-box .overview .progress {
    padding: 0;
    margin: 0; }
  #home .wrapper .home-box .overview .row {
    margin: 0;
    padding: 0; }
  #home .wrapper .home-box .overview button {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  #home .wrapper .home-box .overview span {
    color: #b5b5b5; }
  #home .wrapper .home-box .overview-header {
    background-color: #9bb70d; }
  #home .wrapper .home-box .post-header {
    font-weight: 300; }
  #home .wrapper .home-box .post .avatar {
    margin: auto 0; }
  #home .wrapper .home-box .recipe-header {
    background-color: #9bb70d;
    font-weight: 300; }
  #home .wrapper .home-box .recipe [class*="col-"] img {
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 2px;
    width: 100%;
    overflow: hidden; }

#diary .wrapper {
  width: 100%;
  background-color: #fff;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #dddddd; }
  #diary .wrapper .calorie {
    margin: 45px 0;
    font-size: 1.3em;
    font-weight: 500; }
  #diary .wrapper .date {
    font-size: 1.2em;
    font-weight: 800;
    color: #1b1b1b;
    margin-right: 15px; }
  #diary .wrapper .weekday {
    font-size: 0.9em;
    font-weight: 300;
    color: #1b1b1b; }
  #diary .wrapper .edit {
    background-color: #E99002;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    height: 25px;
    width: 25px; }
  #diary .wrapper .delete {
    background-color: #F04124;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    height: 25px;
    width: 25px; }
  #diary .wrapper .food-add {
    width: 100%;
    margin: 15px 0;
    color: #fff;
    background-color: #9bb70d; }

#profile .profile {
  background-color: #fff;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #dddddd; }
  #profile .profile h2 {
    margin-top: 5px; }
  #profile .profile hr {
    border-color: #dddddd; }
  #profile .profile .form-horizontal .control-label {
    padding-top: 5px;
    font-size: 14px; }
  #profile .profile .form-horizontal input {
    height: 32px;
    font-size: 14px; }
    #profile .profile .form-horizontal input.form-control {
      padding: 6px 12px; }
  #profile .profile .form-horizontal .radio input,
  #profile .profile .form-horizontal .checkbox input {
    height: 16px; }
  #profile .profile .form-horizontal a {
    position: relative; }
    #profile .profile .form-horizontal a img {
      height: 85px;
      width: 85px;
      -webkit-border-radius: 50% 50% 50% 50%;
      -moz-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%; }
    #profile .profile .form-horizontal a i.fa {
      position: absolute;
      height: 45px;
      width: 45px;
      padding: 5px 5px 5px 8px;
      left: 21px;
      top: 0px;
      font-size: 35px;
      background-color: #9bb70d;
      color: #ffffff;
      -webkit-border-radius: 50% 50% 50% 50%;
      -moz-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%;
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
    #profile .profile .form-horizontal a:hover i.fa {
      top: -9px;
      opacity: 1;
      filter: alpha(opacity=1);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1); }

/*# sourceMappingURL=mysimpleplan.css.map */
