<div class="row">
    <div class="col-md-3">
        <div class="container">
            <div class="row">
                Dinner
            </div>
            <div class="row">
                <span class="calorie">{{ calories.dinner }} kcal</span>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row item" ng-repeat="item in dinner">
            <div class="col-md-4">{{ item.name }}</div>
            <div class="col-md-3">{{ item.value }}</div>
            <div class="col-md-5">
                <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="row"> <a href="#/diary/food"><button class="btn btn-default food-add"><i class="fa fa-plus"></i> Nahrungsmittel hinzufügen</button></a></div>
</div>