<div id="diary">
    <div class="wrapper">
        <div class="row title">
            <div class="col-md-8">
                <span class="date">{{ date | date:'dd MMMM yyyy' }}</span><span class="weekday">Sonntag</span>
            </div>
            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="datePrev()"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default" ng-click="dateNow()">Today</button>
                    <button type="button" class="btn btn-default" ng-click="dateNext()"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <hr/>

        <div ng-include="'components/diary/breakfast.html'"></div>
        <hr/>
        <div ng-include="'components/diary/lunch.html'"></div>
        <hr/>
        <div ng-include="'components/diary/dinner.html'"></div>
    </div>
</div>